{% extends 'layout.html' %}
{% block content %}
<div class="col-lg-4 col-md-6 col-sm-10 m-auto">

  <form action="{% url 'password' %}" class="card card-body bg-light text-dark rounded shadow-lg ">
    <h1>Password Generator</h1>
    <label for="length">Select the length of your password: </label>
    <select name="length" id="length" class="form-control">          
        <option value="6">6 characters</option>
        <option value="7">7 characters</option>
        <option value="8">8 characters</option>
        <option value="9">9 characters</option>
        <option value="10">10 characters</option>
        <option value="11">11 characters</option>
        <option value="12">12 characters</option>
        <option value="13">13 characters</option>
        <option value="14">14 characters</option>
      </select>
      <div class="form-check form-switch my-2">
        <label for="upper_case" class="form-check-label">UpperCase</label>
        <input type="checkbox" name="upper_case" id="upper_case" class="form-check-input custom-control-input">
      </div>

      <div class="form-check form-switch my-2">
      <label for="especial_characters" class="form-check-label">Especial Characters</label>
      <input type="checkbox" name="especial_characters" id="especial_characters" class="form-check-input custom-control-input">
      </div>
      
      <div class="form-check form-switch my-2">
      <label for="numbers" class="form-check-label">Numbers</label>
      <input type="checkbox" name="numbers" id="numbers" class="form-check-input custom-control-input">
      </div>
        
      <button class="btn btn-primary">Generate Password</button>
  </form>
</div>
{% endblock %}